@import "_variables.scss";

.btn {
  font-size: 18px;
  padding: 6px 16px;
  margin: 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
  border-radius: 50px;
}

.btn:hover {
  transition: all 0.4s ease;
}

.btn-primary {
  // background-color: rgb(111, 76, 255);
  // border: 1px solid rgb(111, 76, 255);
  border-radius: 0%;
  padding: 0.25rem 0;
  color: rgb(256, 256, 256);
  margin-right: 1rem;
  &:hover{
    border-bottom: 2px solid white;
  }
}

.btn-glow:hover {
  box-shadow: rgba(111, 76, 255, 0.5) 0px 0px 20px 0px;
}

.btn-gradient {
  background-image: linear-gradient(to right, #5100ad, #ad004b);
  border: 0;
  color: rgba(256, 256, 256);
}

.btn-gradient-border {
  color: rgba(256, 256, 256);
  border: 2px double transparent;
  background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)),
    radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

button,
input,
option,
select {
  cursor: pointer;
}
