@import './_reset.scss';
@import './_variables.scss';
@import './_mixins.scss';
@import './_buttons.scss';
@import './_inherit.scss';
@import './_forms.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');
// font-family: 'Montserrat', sans-serif;
// font-family: 'Montserrat Alternates', sans-serif;
// font-family: 'Righteous', cursive;

p, label, input, button, .btn {
  font-family: 'Montserrat Alternates', sans-serif;
}

h1, h2, h3, h4, h5, h6, .logo{
  font-family: 'Righteous', cursive;
}


body{
  overflow-x: hidden;
}
